body {
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(145, 232, 145, 0.6);
	background-image: linear-gradient(
		-45deg,
		rgba(145, 232, 145, 0.6),
		rgba(145, 232, 145, 0.6) 50%,
		rgba(81, 201, 68, 0.6) 50%,
		rgba(121, 192, 111, 0.6)
	);
	background-size: 40px 40px;
}

#contentWrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 100px 20px;
	padding: 40px;
	background-color: #f0f0f0;
	background-image: radial-gradient(#346abd 0.6px, transparent 0.6px),
		radial-gradient(#346abd 0.6px, #f0f0f0 0.6px);
	background-size: 36px 36px;
	background-position: 0 0, 18px 18px;
	width: 70%;
	border-left: 5px ridge #ffcd00;
	border-right: 5px ridge #346abd;
	box-shadow: 4px 4px 12px #3e3e3e;
}

.header-image {
	grid-column: 1/4;
	margin: 0 auto 2rem auto;
}

.pokemon__img {
	inline-size: 200px;
	object-fit: cover;
	position: relative;
	top: -5rem;
	cursor: pointer;
}

.pokedexGraphic {
	height: 450px;
	box-shadow: 2px 2px 2px rgb(115, 115, 115) inset, 4px 4px 2px rgb(58, 58, 58);
	border-radius: 15px;
	height: 350px;
	padding: 10px 20px 20px 20px;
	background-color: #fff;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 2px 2px 4px rgb(115, 115, 115) inset, 5px 6px 3px rgb(58, 58, 58);
	border-radius: 15px;
	background: radial-gradient(
		ellipse at center,
		#4b5f4b 0%,
		#567e56 17%,
		#71ad69 33%,
		#7db577 67%,
		#83c783 83%,
		#b4ddb4 100%
	);

	height: 130px;
}

.card figcaption {
	align-self: flex-start;
	width: 100%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	font-family: monospace;
}

.card figcaption h2 {
	margin: 10px 0px;
}

.poke-title::first-letter {
	text-transform: uppercase;
}

.poke-type::first-letter {
	text-transform: uppercase;
}

.poke-type {
	display: flex;
}

.poke-type span {
	background-color: lightgrey;
	padding: 2px;
	width: 90px;
	height: 1.6em;
	border-radius: 15px;
	margin-right: 10px;
	text-align: center;
}

#next-prev-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.linkUl {
	display: flex;
	justify-content: space-between;
}

.linkUl li {
	border: 4px solid lightgrey;
}

.linkUl li,
a {
	width: 100px;
	background-color: red;
	margin: 100px 10px;
	padding: 3px;
	text-align: center;
	font-family: monospace;
	font-size: 38px;
	font-weight: 700;
	border-radius: 15px;
	color: #fff;
}

/* Modal */

/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modalContent {
	background: linear-gradient(
		to bottom,
		#ffffff 0%,
		#96c291 45%,
		#8ab485 57%,
		#7ab174 100%
	);
	margin: auto;
	padding: 20px;
	border-radius: 15px;
	width: 40%;
	font-family: monospace;
	box-shadow: 3px 3px 3px #ffcd00, 6px 6px 2px #346abd;
}

.modalTextContent {
	margin: 0;
	padding: 0;
}

.modalContent .poke-number {
	margin-bottom: 20px;
}

.modalContent .poke-title {
	margin-bottom: 20px;
}

.modalContent .poke-type {
	margin-bottom: 20px;
}

/* .modalContent .pokemon__img {
    object-fit: cover;
    height: 100%;
    width: auto;
    position: relative;
    top: -45px;
} */

.stats {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}

.statsUl,
.statsWH {
	padding: 10px 0;
	line-height: 1.6em;
}

.statsLi::first-letter {
	text-transform: uppercase;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
